header {
     background-color: #007fff;
     background-image: url("../pattern.png")
    
}
#logo {
    width: 25%;
    height: 90px;
    padding-top: 4%;
    background-image: "logo.svg""
}
#blue {
    color: blue;
}
h1 {
    font-size: 60px;
}